{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    // Public
                    "@assets": "./assets",                   
                    "@images": "./assets/images",
                    //Src     
                    "@helpers": "./src/helpers"             
                }
            }
        ]
    ]
}