{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    // Public
                    "@assets": "./assets",
                    "@images": "./assets/images",
                    //Src     
                    "@helpers": "./src/helpers",
                    "@slice": "./src/redux/slice",
                    // Common
                    "@common": "./src/common",
                    "@commonComponents": "./src/common/components"
                }
            }
        ]
    ]
}